<footer class="bg-blue-500 text-white py-4">
    <div class="container mx-auto flex flex-col sm:flex-row justify-between items-center">
      <div class="flex flex-col sm:flex-row">
        <a href="https://wa.me/+919717267473" class="mr-4">
          <i class="fab fa-whatsapp"></i>
        </a>
        <a href="https://maps.app.goo.gl/DsmmzCqSKRsshXwXA" class="mr-4">
          <i class="fas fa-map-marker-alt"></i>
        </a>
      </div>
      <p class="text-sm text-gray-200">Copyright © 2023 First Step Public School</p>
    </div>
  </footer>