<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <style>
        /* Background Animation CSS */
    </style>
</head>

<body>
    {% include 'header.html' %}
    <div class="container mx-auto px-4">
        <div class="py-5 m-2">
            <h1 class="text-3xl text-center mb-4">Sign Up</h1>
            <form action="/signup" method="POST" onsubmit="return validatePasswords() && validateForm();">
                <div class=" ">
                    <div class="mb-4">
                        <label for="class_name" class="form-label">Class Name</label>
                        <select id="class_name" name="class_name" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" required>
                            <option value="">Select Class</option>
                            {% for class_name in classes %}
                            <option value="{{ class_name }}">{{ class_name }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="mb-4">
                        <label for="username" class="text-gray-700">Admission No.</label>
                        <input type="text" id="admNo" name="admNo"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="username" class="text-gray-700">Name</label>
                        <input type="text" id="username" name="username"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="username" class="text-gray-700">Father Name</label>
                        <input type="text" id="fathername" name="fathername"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="username" class="text-gray-700">Mother Name</label>
                        <input type="text" id="mothername" name="mothername"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="username" class="text-gray-700">Primary Contact Number</label>
                        <input type="number" id="primaryContactNumber" name="primaryContactNumber"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="username" class="text-gray-700">Secondary Contact Number</label>
                        <input type="number" id="secondaryContactNumber" name="secondaryContactNumber"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="username" class="text-gray-700">Emergency Contact Number</label>
                        <input type="number" id="emergencyContactNumber" name="emergencyContactNumber"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="email" class="text-gray-700">Email</label>
                        <input type="email" id="email" name="email"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <label for="password" class="text-gray-700">Password</label>
                        <input type="password" id="password" name="password"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="mb-4">
                        <input type="hidden" id="role" name="role" value="parents">
                    </div>
                    <div class="mb-4">
                        <label for="confirm_password" class="text-gray-700">Confirm Password</label>
                        <input type="password" id="confirm_password" name="confirm_password"
                            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline">
                    </div>
                    <div class="flex items-center justify-between">
                        <button type="submit"
                            class="animate__animated animate__bounceIn bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Signup</button>
                        {% if error %}
                        <p class="animate__animated animate__shakeX text-red-500 text-xs italic">{{ error }}</p>
                        {% endif %}
                    </div>
                </div>
            </form>
            <p class="mt-4 text-center">
                Already have an account? <a class="animate__animated animate__bounceIn" href="/login">Login</a>
            </p>
        </div>
    </div>
    <script>
        function validatePasswords() {
            const password = document.getElementById('password').value;
            const confirmPassword = document.getElementById('confirm_password').value;

            if (password !== confirmPassword) {
                alert('Passwords do not match!');
                return false;
            }
            return true;
        }

        function validateForm() {
            var primary = document.getElementById('primaryContactNumber').value;
            var secondary = document.getElementById('secondaryContactNumber').value;
            var emergency = document.getElementById('emergencyContactNumber').value;

            // Check if numbers are unique
            if (primary === secondary || primary === emergency || secondary === emergency) {
                alert('Primary, Secondary, and Emergency numbers must be unique.');
                return false;
            }

            // Check if numbers are 10 digits
            var tenDigitRegex = /^\d{10}$/;
            if (!tenDigitRegex.test(primary) || !tenDigitRegex.test(secondary) || !tenDigitRegex.test(emergency)) {
                alert('All contact numbers must be exactly 10 digits.');
                return false;
            }

            return true;  // Form can be submitted
        }

    </script>
</body>

</html>