<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Syllabus</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% include 'header.html' %}
    <div  class="w-screen  mt-12 flex flex-col justify-center items-center">
        <div class="container text-3xl text-center mb-4">
            <h1 class="text-3xl text-center mb-4">Syllabus</h1>
                Please get the PDF copy of the syallabus from the school 
           
        </div>
    </div>

    {% include 'footer.html' %}
</body>

</html>
